.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.7);
  z-index: 15;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    width: 70%;

    position: absolute;
    background-color: $color-white;
    @include center;
    z-index: 20;
    box-shadow: $shadow-1;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(.2);
    transition: all .4s .2s;
  }

  &__left {
    width: 33.333%;
    display: table-cell;
    vertical-align: middle;
  }

  &__right {
    width: 66.667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem; // 1em = 14px
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  // OPEN states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  // CLOSE popup
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1rem;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
