*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Adjust the rem to be 10px
  font-size: 62.5%; // 1 rem = 10px; 10/16 = 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 8px; 9/16 = 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px; 8/16 = 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 8px; 9/16 = 75%;
  }
}

body {
  box-sizing: border-box; 
}
